.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr
**.log
book-manager/logs/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
classes/
.nb-gradle/
auth-manager/out/
bin/
gradle/
gradlew
gradlew.bat